img.large-image {
    width: 300px;
    height: auto;
}

body {
    text-align: center;
    background-color: #e8eced;
    margin: 0;
    color: white;
}

.christus {
    
    position: absolute;
    bottom: left;
    left: 0;
    height: 90%;
}

.card {
    max-width: 1200px;
    padding: 40px 20px; 
    margin: 0 auto;
    background-image: url(images/christus.webp);
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    border-radius: 8px; 
}
h1, h2 {
    object-position: center;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
}

.Portrait {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.Portrait img {
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    object-position: 50% 10%;
    height: 120px;
    width: 120px;
}

#box-apostles .Portrait{
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
    max-width: 850px;
    height: 600px;
    text-align: center;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

#box-first-presidency h1, #box-apostles h2 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 30px;
}