@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --heading-font: "Bebas Neue", "Bungee";
  --paragraph-font: "Montserrat", "Lato";
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
    color: #FFB703;
}

#hero-msg h4 {
    text-align: center;
    color: #FFB703;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color:whitesmoke; ;
    color: #023047;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #023047 ;
    color:#FFB703 ;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
   text-align: center;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color:#219EBC ;
}

.home-title {
    color: #023047;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: #023047;
}

.book, .join {
    text-align: center;
    background-color:#FB8500 ;
    color:#023047 ;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #023047;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.book:hover, .join:hover {
    background-color:#FFB703 ;
    color:#023047 ;
}

#background {
    background-color: #219EBC;
    margin-bottom: 50px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color:#023047 ;
    color:white ;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 100px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2{
    color: #FB8500;
}

.msg p {
    color: white;
    padding-bottom: 15px;
}

footer {
    background-color:#023047 ;
    color: #FFB703;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-align: center;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #219EBC;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}