/* Add your CSS here to style your valentines day page */



nav {
    text-align: center;
    padding: 30px;
    background-color: pink;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: large;
    color: red;
    font-family: 'Dancing Script', cursive;
}

head {
    justify-content: center;
}

#wrapper {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

img {
    border: 10px solid red;
    width: 30em;
    box-shadow: 0 0 50px pink;
}

.Topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    border: 3px red solid;
}

footer {
    background-color: pink;
    color: red;
    font-family: 'Dancing Script', cursive;
}