body{
    text-align: center;
    background-color: bisque;
}

img{
    max-width: 800px;
    border: 4px solid black;
}

nav {
background-color: steelblue;
padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

h1{
    color: steelblue;
}

footer{
    background-color: steelblue;
    padding: 20px;
    color: white;
}

footer p {
    margin: 0;
}